<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Packet Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Packet Data</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>{{ form.file.label }}</p>
            <p>{{ form.file }}</p>
            <p><input type="submit" value="Upload and Visualize" class="btn third"></p>
        </form>
    </div>
    <video playsinline autoplay muted loop id="bgvid">
        <source src="{{ url_for('static', filename='video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>
</html>
